
body {
    background-image:url(1.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color :rgba(45, 47, 111) ;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Unbounded', cursive;
}
.nav-list {
    display: flex;
    justify-content: center;
    align-items: center;
    color:#ffffff;
  }
  .nav-link {
    color: #ffffff;
    padding: 10px 20px 10px 0;
    margin-right: 10px;
  }
 .photo{
    position:relative;
    float:left;
    left: 90px;
    top: 10px;
 }
 .h{
  text-align: center;
  color:#ffffff;

 }
 .a{
  color:#ffffff;
 }
 body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.text{
  color:#ffffff;
  padding: 5px 30% 5px 40%;
  
}
.container {
  max-width: 1440px;
  margin: 0 auto;
}
    
